.icon{
  background: #ffffff;
  height: 250px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  column-gap: 133px;

  &__nav{
    display: flex;
    column-gap: 133px;

    }


}
